<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Who Walks Obie? </h1>
    <p>Last Walk was  <%= title %></p>
  </body>
</html>
